
.nav{
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 120px;
    
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    
}
.nav_container_selector{
    list-style: none;
    font-size: 1.2rem;
    color: blueviolet;
}

.nav_container_item{
    display: inline-block;
}
.container{
    padding: top 120px;
}